/*
*  html5resetcss
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
nav ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
input,
select {
    vertical-align: middle;
}

#loading-page {
    width: 100vw;
    height: 100vh;
    z-index: 999 !important;
    background-color: #f16126;
    font-family: "Playfair Display", serif;
}
#loading-page .preloader-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.preloader-icon {
    width: 72px;
    height: 72px;
    display: inline-block;
    padding: 0px;
}
.preloader-icon span {
    position: absolute;
    display: inline-block;
    width: 72px;
    height: 72px;
    border-radius: 100%;
    background: #fff;
    -webkit-animation: preloader-fx 1.6s linear infinite;
    animation: preloader-fx 1.6s linear infinite;
}
@keyframes preloader-fx {
    0% {
        transform: scale(0, 0);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}
/* Header{ */
.header {
    background-image: url("../assets/images/Background/06.jpg");
    background-size: cover;
    background-position: center;
    min-height: 80vh;
}
.header .naving {
    padding-inline-start: 55px;
    padding-inline-end: 55px;
}
.header nav ul a {
    padding: 10px 11px;
    font-weight: 500;
}
.header nav ul li button {
    padding: 14px 20px;
    background-color: #3183f7;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}
.header nav ul li button:hover {
    box-shadow: 0px 0px 10px #3183f7;
}
.main_content h1 {
    font-weight: 200;
}
.main_content .opaoa {
    padding-block-start: 90px;
}
.main_content .one {
    background-color: #333;
    color: #fff;
    width: 195px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-start: 15px;
}
/* Section One COde Start */
.section_one {
    background-color: #f8f8f8;
    min-height: 40vh;
    padding: 3rem;
}

/*  */
.section_one ul li {
    line-height: 30px;
}
.section_two ul li {
    line-height: 30px;
    padding-bottom: 12px;
}
.mobile_app {
    background-color: #101115;
    min-height: 40vh;
    margin-top: 2rem;
    padding: 40px;
}
.mobile_app ._oaiao {
    width: 450px;
}
.newClass {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fdfdfdf0;
    backdrop-filter: blur(20px);
    width: 100%;
    box-shadow: 0 0 10px rgb(16 17 21 / 10%);
    animation: fadeInDown 0.5s;
    -webkit-animation: fadeInDown 0.5s;
    z-index: 100000000;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
